<div class="container">
    <br>
    <h4 class="d-flex justify-content-center">Mã đăng nhập ứng dụng</h4>
    <div class="content-form" style="width:300px;">
        <div class="form-group">
            <label for="tendn">Dùng mã này để đăng nhập vào ứng dụng trên thiết bị di động</label>
            <input type="text" class="form-control" value="{{this.code}}" readonly>
        </div>

    </div>
</div>

<style>
.content-form{
    margin: 10px auto;
} 
</style>