<div class="container">
    <br>
    <div class="d-flex justify-content-center">
        <h2>Kid management - ứng dụng theo dõi vị trí trẻ con</h2>
    </div>
    <br>
    <div class="d-flex justify-content-center">       
        <img style="width:700px; height:500px;" src="https://family-locator.com/content/homepage/sections/2-family-locator-app-keeps-your-family-secure-connected/sg_b2c_familyweb_videopic-1.png" alt="">
    </div>
    <br>
    <div>
        <p>
            Làm thế nào để bảo vệ con của bạn an toàn trong thời đại kỹ thuật số hiện nay, câu trả lời là Ứng dụng kiểm soát trẻ con dành cho bậc phụ huynh
            để bạn luôn có thể để mắt đến vị trí của con trẻ.
        </p>
        <p>
           Ứng dụng cung cấp liên tục thông tin vị trí của trẻ con, được hiện thị trên bảng đồ để các bậc phụ huynh có thể an tâm rằng con mình đang an toàn
        </p>
        <p>
            Khi cảm thấy không an toàn, bạn có thể gọi trẻ bằng cách chọn vào biểu tượng SOS trên màn hình
        </p>
        <p>
            Nhanh tay lên Google Play tải về ngay nào !
        </p>
    </div>
    <div class="d-flex justify-content-center">
        <img src="https://blog.bit-guardian.com/wp-content/uploads/2019/12/FamiSafe-Parental-Control-Location-Tracker.png" alt="">
    </div>
    <div class="d-flex justify-content-center">
        <img src="https://blog.bit-guardian.com/wp-content/uploads/2019/12/google-play-badge-300x116.png" alt="">
    </div>

</div>