<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>KID MANAGEMENT</title>
</head>
<body>
    {{!-- header --}}
     <div>
        <h4 class="text-center"><a style="text-decoration: none;color:red" href="/"><b class="text-align center">
                    KID MANAGEMENT - SERVER</b></a>
        </h4>
    </div>

    <div>
        {{{body}}}
    </div>

{{!-- footer --}}
<div class="fter bg-dark text-light align-text-bottom " style="margin-top:50px; position:absolute; bottom:0; width:100%;">
        <div class="container">
            <div class="row">
                <div class="col-sm" style="margin-top:13px;color:azure;">
                    <h5>KID MANAGEMENT<h5>
                            <h6>Nhóm 4 - DACNPM</h6>
                            <div style="padding-bottom: 26px;color:azure;">
                                <i class="fa fa-copyright" aria-hidden="true"> Copyright 2020 KID MANAGEMENT</i>
                            </div>
                </div>
                <div class="col-sm" style="margin-top:13px;">
                    <h6>Liên hệ</h6>
                    <a style="text-decoration: none;color:azure;"
                        href="https://www.facebook.com/mrhauphan">https://www.facebook.com/mrhauphan</a>
                    <a style="text-decoration: none;color:azure;"
                        href="https://www.facebook.com/nhathan.luu.5">https://www.facebook.com/nhathan.luu.5</a>
                </div>
            </div>
        </div>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>